<ion-header>
  <ion-navbar>
    <ion-title>Menu déroulant</ion-title>
  </ion-navbar>
  <ion-menu [content]="content">
    <h3>Exercive menu déroulant</h3>

  </ion-menu>
</ion-header>


<ion-content padding>
  <h3>Exercive menu déroulant</h3>
  <ion-item-group *ngFor="let M of dataD">
    <button (click)="clickM(M)" ion-button clear>
      {{M.name}}
    </button>
    <div id="menu" *ngIf="M.open">
      <ion-item *ngFor="let C of M.categorie">{{C.name}}</ion-item>
    </div>
  </ion-item-group>
  <h4>Tableau Json pour RDV</h4>
  <ion-grid>
    <ion-row *ngFor="let H of dataH">
      <ion-col>
        <p> {{H.subjectName}} </p>
      </ion-col>
      <ion-col>
        <p>{{H.startTime}}</p>
      </ion-col>
      <ion-col>
        <p>{{H.endTime}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let T of dataN">
      <ion-col>
        <p> {{T.subjectName}} </p>
      </ion-col>
      <ion-col>
        <p>{{T.startTime}}</p>
      </ion-col>
      <ion-col>
        <p>{{T.endTime}}</p>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>